body{
  margin: 0; height: 100%; overflow: hidden
}
h2{
  text-align: center;
  margin: 24px;
  
}

.container{
  text-align: center;
  padding: 48px;
  padding-top: 40px;
}
.time{
  font-size: 128px;
}
#heading{
margin: 0;

}
h4{
  margin: 8px;
  margin-top: 0;
}
.timeSet{
  margin: 0;
}
.activity{
  display: flex;
  justify-content: center;
  
}
.functions{
  /* width: 400px; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;

}
.functionBtn{
  padding: 8px;
  margin: 0px 10px;
  border-radius: 50%;
  

}
.functionImg{
  margin: none;
  display: inline;
  height: 36px;
  width: 36px;
  border: none;

}