body{
  margin: 0; height: 100%; overflow: hidden;
}
h2{
  text-align: center;
  margin: 24px;
  
}

.container{
  text-align: center;
  padding: 48px;
  padding-top: 40px;
  
}
.time{
  font-size: 128px;
  
}
@media(max-width: 649px) {
  body{
    overflow: visible;
  }
  .container{
    box-sizing: border-box;
  }
  .time{
    font-size:60px;
    position: relative;
    left: -10px;   
    

  }
  .settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .settingsHeader{
    text-align: center;
    
  }
  .activity{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timeSet{
    padding-left: 0;
    padding-right: 0;
  }


  }

#heading{
margin: 0;

}
h4{
  margin: 8px;
  margin-top: 0;
}
.timeSet{
  margin: 0;
}
.activity{
  display: flex;
  justify-content: center;
  
  
}
.functions{
  /* width: 400px; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;

}
.functionBtn{
  padding: 8px;
  margin: 0px 10px;
  border-radius: 50%;
  

}
.functionImg{
  margin: 0;
  display: inline;
  height: 36px;
  width: 36px;
  border: none;

}
.cycles{
  margin: 0;
  margin-bottom: 8px;
}
.session{
  margin: 0;
}
.break{
  margin: 0;
}